* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

button {
    cursor: pointer;
}
